<mat-card class="mat_card_box">
  <mat-card-content *ngIf="!registerOn">
    <div>
      Register is currently off.
    </div>
  </mat-card-content>
  <ng-container *ngIf="registerOn">
    <mat-card-content>
      <div>
        <h2>Register</h2>
      </div>
      <div>
        <form class="form-main" [formGroup]="registerForm">
          <div>
            <mat-form-field class="field">
              <input matInput pattern="^[a-zA-Z0-9_]+$" minlength="6" placeholder="Username"
                     maxlength="15" formControlName="username" required>
              <mat-hint align="end">{{f.username.value?.length || 0}}/15</mat-hint>
              <mat-error *ngIf="f.username.errors?.minlength || f.username.errors?.maxlength">
                Length should be at least 6 and no more than 15.
              </mat-error>
              <mat-error *ngIf="f.username.errors?.required">
                Username is required.
              </mat-error>
              <mat-error
                *ngIf="!(f.username.errors?.minlength || f.username.errors?.maxlength) && f.username.errors?.pattern">
                Not allowed characters.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="field">
              <input matInput pattern="^[a-zA-Z0-9._-]+@([a-zA-Z0-9-_]+\.)+[a-zA-Z0-9-_]+$" minlength="6"
                     placeholder="Email" maxlength="60" formControlName="email" required>
              <mat-hint align="end">{{f.email.value?.length || 0}}/60</mat-hint>
              <mat-error *ngIf="f.email.errors?.minlength || f.email.errors?.maxlength">
                Length should be at least 6 and no more than 60.
              </mat-error>
              <mat-error *ngIf="f.email.errors?.required">
                Email is required.
              </mat-error>
              <mat-error *ngIf="!(f.email.errors?.minlength || f.email.errors?.maxlength) && f.email.errors?.pattern">
                Email is not correct.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="field">
              <input matInput minlength="8" type="password"
                     placeholder="Password" maxlength="40" formControlName="password" required>
              <mat-hint align="end">{{f.password.value?.length || 0}}/40</mat-hint>
              <mat-error *ngIf="f.password.errors?.minlength || f.password.errors?.maxlength">
                Length should be at least 8 and no more than 40.
              </mat-error>
              <mat-error *ngIf="f.password.errors?.required">
                Password is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="field">
              <input matInput minlength="8" pattern="{{f.password.value}}" type="password"
                     placeholder="Confirm password" maxlength="40" formControlName="confirmPassword" required>
              <mat-hint align="end">{{f.confirmPassword.value?.length || 0}}/40</mat-hint>
              <mat-error *ngIf="f.confirmPassword.errors?.minlength || f.confirmPassword.errors?.maxlength">
                Length should be at least 8 and no more than 40.
              </mat-error>
              <mat-error *ngIf="f.confirmPassword.errors?.required">
                Confirm password is required.
              </mat-error>
              <mat-error
                *ngIf="!(f.confirmPassword.errors?.minlength || f.confirmPassword.errors?.maxlength) && f.confirmPassword.errors?.pattern">
                Passwords are not the same.
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-card-content>
    <div mat-dialog-actions class="cardActions">
      <button mat-raised-button color="primary" class="clickButton" cdkFocusInitial
              (click)="register()" [disabled]="this.submitted">Register
      </button>
      <mat-progress-spinner
        *ngIf="this.submitted"
        class="standardSpinner"
        [diameter]="20"
        color="accent"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <div>
      <div *ngIf="errorMessage" class="alert">{{errorMessage}}</div>
    </div>
  </ng-container>
</mat-card>
