.add-language-letters{
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.shortFieldInputSpecialLetter{
  width: 280px;
}

.add-language-letters-desc{
  margin-top: 4px;
}

.remove-special-letter-icon{
  vertical-align: middle;
  cursor: pointer;
}
